@media (max-width: 575.98px) {

    #lg-table-projetos {
        display: none;
    }

    #tiny-table-projetos {
        display: none;
    }

    #little-table-projetos .buttons {
        display: inline-flex;
    }

    #little-table-subprojetos {
        display: block;
    }

    #lg-table-subprojetos {
        display: none;
    }

    #xl-table-subprojetos {
        display: none;
    }

    #medium-table-subprojetos {
        display: none;
    }

    .tabela {
        width: 300px;
        margin: auto;
    }

    .hidden {
        display: none;
    }

    .little-table {
        display: none;
    }

    .input-formCriar {
        width: 210px;
    }


    .titulo-sm {
        font: 1.5em sans-serif;
        font-weight: bold;
    }

    .medium-table {
        display: none;
    }
}


@media (min-width: 576px) {

    #lg-table-projetos {
        display: block;
    }

    #tiny-table-projetos {
        display: none;
    }

    #little-table-projetos {
        display: none;
    }

    #lg-table-subprojetos {
        display: block;
    }

    #xl-table-subprojetos {
        display: none;
    }

    #little-table-subprojetos {
        display: none;
    }

    #medium-table-subprojetos {
        display: none;
    }

    .little-table {
        display: none;
    }

    .medium-table {
        display: none;
    }

    .buttons {
        display: inline-flex;
    }

    #little-table-subprojetos {
        display: none;
    }

    #medium-table-subprojetos {
        display: none;
    }
 }

 @media (min-width: 370px) and (max-width: 576px) {
    #medium-table-subprojetos {
        display: none;
    }

    #little-table-subprojetos {
        display: block;
    }

    .medium-table {
        display: block;
    }
    .little-table {
        display: none;
    }
    .hidden {
        display: none;
    }

    .buttons {
        display: inline-flex;
    }
}


@media (max-width: 369px) {

    #little-table-subprojetos {
        display: block;
    }

    #medium-table-subprojetos {
        display: none;
    }
}

@media (min-width: 460px) and (max-width: 576px) {
    #little-table-subprojetos {
        display: none;
    }

    #medium-table-subprojetos {
        display: block;
    }
}

@media (min-width: 800px) and (max-width: 1024px) {

    #lg-table-subprojetos {
        display: block;
    }

    #xl-table-subprojetos {
        display: none;
    }

    #little-table-subprojetos {
        display: none;
    }

    #medium-table-subprojetos {
        display: none;
    }

}

@media (min-width: 1024px) {

    #xl-table-subprojetos {
        display: block;
    }

    #lg-table-subprojetos {
        display: none;
    }

    #little-table-subprojetos {
        display: none;
    }

    #medium-table-subprojetos {
        display: none;
    }

}

@media (min-width: 602px) and (max-width: 850px) {
    #little-table-projetos {
        display: block;
    }

    #lg-table-projetos {
        display:none
    }

    #tiny-table-projetos {
        display: none;
    }
}

@media (max-width: 601px) {

    #little-table-projetos {
        display: none;
    }

    #lg-table-projetos {
        display:none
    }

    #tiny-table-projetos {
        display: block;
    }
}

